@model List<AdminOrderViewModel>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h1 class="m-0">Admin</h1>
                </div><!-- /.col -->
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                
                    
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-6 col-6">
                
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.Count</h3>

                            <p>Toplam Satış</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="small-box-footer">Toplam satılan ürünler için<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
         
                <div class="col-lg-6 col-6">
                
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <p>Kullanıcı Listesine buradan erişebilirsiniz.</p>
                            <hr />
                            <p>
                                You can access the User List here.
                                </p>
                   
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="small-box-footer">Kullanıcılar <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
             
            </div>
     


            </div>


           
        </div>
    </awction>

</div>
