    <!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">





        <div class="footer__copyright__text">
            <div class="footer__about">
                <div class="footer__logo">
                    <a href="./index.html"><img src="/ui/img/logos.png" alt=""></a>
                </div>


            </div>


            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Haydar KARADOĞAN. <i class="fa fa-heart" aria-hidden="true"></i> </p>
                </div>




        <div class="footer__copyright__text">
                    <a href="#"><img src="/ui/img/payment/payment-1.png" alt=""></a>
                    <a href="#"><img src="/ui/img/payment/payment-2.png" alt=""></a>
                    <a href="#"><img src="/ui/img/payment/payment-3.png" alt=""></a>
                    <a href="#"><img src="/ui/img/payment/payment-4.png" alt=""></a>
                    <a href="#"><img src="/ui/img/payment/payment-5.png" alt=""></a>

                </div>
    </div>
</footer>
<!-- Footer Section End -->