@model List<ProductViewModel>
<div class="container w-75 mt-5">
   
       
             <h6 class="display-4 font-weight-bold ">İletişim</h6>
            <hr />
    <div class="row">
        <div class="col-lg-6 col-md-12">
            
            <a class="m-3" href="https://wa.me/905427643469">
                <i style="font-size:40px;" class="fa fa-whatsapp text-success font-weight-bold  ">Whatsapptan bize yazabilirsiniz.</i>
                    <a />
          <hr />
                    Bize Instagramdan ulaşmak isterseniz,
                     <a href="https://www.instagram.com/inochischicpaws/">
                    inochischicpaws
                     </a> linkine tıklayınız.
                     <hr />
                     Trendyoldan ulaşmak için,
              
               <a href="https://www.trendyol.com/magaza/inochis-chicpaws-m-888781?sst=0">InochisChickPaws Trendyol
                   </a> linkine tıklayınız.
                   <hr />
                   <a  asp-area="" asp-controller="Message" asp-action="NewMessage">Sitemizden Adminimiz poyrazkaradogan'a yazabilirsiniz'</a>
        </div>
       <div class="col-lg-6 col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3486.6656995230096!2d14.280683131871081!3d40.85350802392289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d40.8530388!2d14.279463!4m0!5e0!3m2!1str!2str!4v1713011169180!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
     </div>
 </div>